body {
    margin: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

.row:nth-of-type(1) {
    border-bottom: 1px solid gray;
    background-color: #f7f7f7;
}

.row:nth-of-type(2) {
    background-color: #fafafa;
    padding-top: 5%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #fff;
    font-family: Impact;
}

#head-img {
    display: block;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 2%;
}

fieldset {
    width: 80%;
    margin: 0 auto;
}

input,
select {
    width: 50%;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
    background: #c1c9b4;
}

input[type='submit'] {
    background: #3b4a20;
    color: #fff;
}


input[type='submit']:hover {
    background: #293316;
    color:#fff;

}

input[type='submit']:focus {
    background: #111509;
    color:#fff;
}




#clear:hover {
    background: #293316;
}

#clear:focus {
    background: #111509;
}

input[type='search'] {
    vertical-align: bottom;
}

select option {
    background: #a9ada1;
    color: #fff;
    border-radius: 5px !important;
}

#sort-opt-ascending,
#sort-opt-descending,
#filter-searched-code,
#search-querry {
    height: 32px;
    vertical-align: bottom;
}

input::placeholder {
    font-style: italic;
    color: black;
    font-weight: 900;
    opacity: 0.5;
}

input:focus {
    background-color: #99a682;
    outline: none;
    color: black;
    font-weight: 800;
}

select {
    line-height: 30px;
}

button {
    font-size: 14px;
    padding: 5px;
    border-radius: 2px;
    background: #3b4a20;
    color: #ffffff;
    border-radius: 5px;
    outline: none;
    border: none;
}

.btn-primary {
    background: #3b4a20;
    outline: none;
    border: none;
    margin: 2%;
    width: 100px;
}

.btn-primary:visited {
    background: #3b4a20 !important;
}

.btn-primary:hover {
    background: #293316 !important;
}

.btn-primary:focus {
    background: #111509!important;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 50%;
}

#tablerows-0 {
    margin-bottom: 10%;
    padding-bottom: 10%;
}

td {
    background: #E8E8E8;
}

thead,
th,
td {
    border: 2px solid black;
    font-weight: 900;
}

tr td:nth-of-type(3) {
    color: #365899;
    font-family: cursive;
}


.headerbar.top {
    background: #3F4E21;
    
    min-height: 100px;
    margin: 5%;
    border-bottom: 5px solid darkred;
}

.headerbar.bottom {
    background: #333300;
    min-height: 60px;
}

.hide-search-txt {
    display: none;
}

.show-search-txt {
    display: inline;
    color: darkred;
    background-color:#D3D3D3;
    padding:0.2%;
}

* {
    outline: none;
}

#tablerows-1 {
    margin-top: 10%;
}

.col-own-style {
    text-align: center;
    margin-bottom: 15%;
}

.btn-warning-own {
    background: #3b4a20 !important;
    font-weight: 900;
    outline: none;
    border: none;
}

.btn-warning-own:hover {
    background: #293316 !important;
    outline: none;
}

.btn-warning-own:active {
    background: #111509!important;
}

.btn-del-style {
    background: #8b0000;
}

.searched-box {
    color: darkred !important;
    font-size: 23px;
}

.btn-prim-del {
    background: darkred;
    width: 100px;
}

.btn-prim-del:hover {
    background: #610000 !important;
}

.btn-prim-del:active {
    background: #3a0000!important;
}



.fieldset-descending {
    margin-top: 1%;
}

.sort-class {
    vertical-align: middle;
}

.sort-img {
    margin-left: 10%;
}

.form-cont {
    background-color: #F5F5F5;
    background-color: #e3e3e3;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding: 5% 0;
    border-bottom: 5px solid darkred; 
}
    
.table {
    width: 75%;
}

.table>thead>tr>th {
    border-bottom: 3px solid darkred;
    padding: 3% 0;
    background: #768858;
    color: #fff;
    font-family: Bahnschrift;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

input,
select {
    border: 2px solid #3b4a20;
}

td:nth-of-type(4) {
    text-align: center;
}

.col-lg-12:nth-of-type(2) {
    margin-bottom: 15%;
}

#submit,
#clear,
#search-querry,
#search-btn {
    width: 25%;
    height: 40px;
    font-weight: 900;
}

#search-btn {
    height: 40px;
    line-height: 40px;
    padding: 0px;
    width:15%;
}

.helper-span {
    height:100%;
    display:inline-block;
    vertical-align:middle;
    text-align:center
}

#search-querry {
    width:35%;
}



#sort-btn-ascending,
#sort-btn-descending,
#filter-btn-searched,
#filter-btn-searched-1
 {
    width: 35%;
    height: 40px;
    line-height: 40px;
    padding: 0px;
}

#filter-btn-searched, #filter-btn-searched-1 {
    width:50%;
    margin-bottom:1%;
}

#sort-opt-ascending,
#sort-opt-descending,
#filter-searched-code {
    width: 15%;
    height: 40px;
}

.sort-btns  {
    color:#fff;
}

.sort-btns:hover {
    text-decoration:none;
    color:darkred;
    cursor:pointer;
}

.edit-del-img {
    vertical-align:baseline;
    padding-left:6%;
}

@media only screen and (max-width: 1300px) {
    .table {
        width: 100%;
        max-width: 100%;
    }

    .form-cont {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .table {
        width: 100%;
        max-width: 100%;
    }

    .form-cont {
        width: 100%;
    }

    input,
    select {
        width: 100%;
    }

    #submit,
    #clear,
    #search-querry,
    #search-btn,
    #filter-btn-searched,#filter-btn-searched-1 {
        width: 100%;
    }

    #sort-btn-ascending,
    #sort-btn-descending {
        width: 100%;
    }

    #sort-opt-ascending,
    #sort-opt-descending {
        width: 100%;
    }

}