body {
    margin: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*thead {
    border-bottom: 5px solid black;
}*/

h1 {
    color:#fff;
    font-family: Impact;
}

label {
    display: block;
}

fieldset {
    width: 400px;
    margin: 0 auto;
}

input,
select {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
}

input, select{
    background:#c1c9b4;
}

input[type='submit']{
    background: #3b4a20;
    color: #fff;
    width:100px;
    height:34px;
}

input[type='submit']:hover {
    background:#293316;
}

option {
    background:#7d876c;
    color:#fff;
}

input::placeholder {
    font-style:italic;
    color:gray;
}

input:focus {
    background-color:#99a682;
    outline:none;
}

select {
    line-height: 30px;
}

button {
    font-size: 14px;
    padding: 5px;
    border-radius: 2px;
    background: #3b4a20;
    color: #ffffff;
    width: 100px;
    border-radius: 5px;
    outline:none;
}

.btn-primary {
    width:100px;
    background: #3b4a20;
    outline:none;
    border:none;
    margin:2%;
}


.btn-primary:visited {
    background:#3b4a20!important;
}

.btn-primary:hover {
    background:#293316!important;
}

.btn-primary:active {
    background:#293316!important;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom:10%;
}

#tablerows-0 {
    margin-bottom:10%;
    padding-bottom:10%;
}

th {
    background:#768858;
    color:#fff;
}

td {
    background:#E8E8E8;
}

th,
td {
    border: 2px solid black;
    padding: 25px 60px;
    font-weight:900;
}

tr td:nth-of-type(3) {
    color:#365899;
}

.headerbar.top {
    background: #222a12;
    min-height: 100px;
    margin:5%;
    border-bottom:5px solid #080a04;
}

.headerbar.bottom {
    background: #333300;
    min-height: 60px;
}

input[type='search']{
    vertical-align: bottom;
}

.hide-search-txt {
    display:none;
}

.show-search-txt {
    display:inline;
    color:darkred;
}

* {
    outline:none;
}

#tablerows-1 {
    margin-top:10%;
}

.col-own-style {
    text-align:center;
    margin-bottom:15%;
}

.btn-warning-own {
 background:#3b4a20!important;
 font-weight: 900;
 outline:none;
 border:none;
}

.btn-warning-own:hover {
    background:#293316!important;
    outline:none;
}

.btn-warning-own:active {
    background:#293316!important;
}

.btn-del-style {
    background:#8b0000;
}


.table-data-own {
    background:red!important;
    border:5px solid green;
 }

 .table-data-own {
    background:red!important;
    border:5px solid blue;
 }

 .searched-box {
     border:4px solid darkred;
 }

 